<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card card-default alert alert-danger text-center">
      <h1>Hot Reads</h1>
        <table class="table">
         <% @links.each_with_index do |link, index| %>
          <tr id="<%= index + 1%>">
             <td><%= (index + 1) %></td>
             <td><a href="<%= link.url %>"><%= link.url%></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
<div class="col-md-4">

</div>
</div>
